<ion-view view-title="Home">
	<ion-content class="home-content" delegate-handle="homeDelegate">
		
		<!-- Opening Section -->
		<section class="landing">
			<img class="landing-img" src="img/background-home.jpg">
			<figcaption class="padding">
				<div class="logo">
					<svg class="icon" version="1.1" id="Marker" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="40px" height="53px" viewBox="0 0 430.3 571.3" style="enable-background:new 0 0 430.3 571.3;" xml:space="preserve">
					<path d="M425.7,216.7c0-116.3-94.3-210.6-210.6-210.6C98.9,6.1,4.6,100.4,4.6,216.7c0,43.2,13,83.4,35.4,116.9h-0.1
						l1.1,1.4c4,5.8,8.2,11.5,12.8,16.9l161.4,213.3l161.4-213.3c4.5-5.4,8.8-11,12.8-16.9l1.1-1.4h-0.1
						C412.7,300.1,425.7,259.9,425.7,216.7z M215.2,360.5c-87.8,0-159.1-71.2-159.1-159.1c0-87.8,71.2-159.1,159.1-159.1
						c87.8,0,159.1,71.2,159.1,159.1C374.2,289.2,303,360.5,215.2,360.5z M142.8,221.5c-32.3-14.6-35.5-39.4-35.5-39.4l18.5-9.6
						l-9.3-18.6c19.5-18.6,51.8-10.9,51.8-10.9l37.7,51.9l-2.2,6.6L142.8,221.5z M206.5,208.1l5.6,4.1l-0.3,64.1
						c-24.1,26.1-48.5,21.3-48.5,21.3l-3.3-20.6l-20.6,3c-11.5-24.3,6-52.6,6-52.6L206.5,208.1z M313.9,153.9l-9.3,18.6l18.5,9.6
						c0,0-3.2,24.7-35.5,39.4l-61-19.9l-2.2-6.6l37.7-51.9C262,143.1,294.4,135.4,313.9,153.9z M284.9,227.5c0,0,17.5,28.3,6,52.6
						l-20.6-3l-3.3,20.6c0,0-24.5,4.7-48.5-21.3l-0.3-64.1l5.6-4.1L284.9,227.5z M218.7,190.3h-7L174,138.5c0,0,2.7-33.1,26.3-46
						l14.8,14.6L230,92.6c0,0,22.5,10.7,26.5,46L218.7,190.3z"/>
					</svg>
				</div>
				<div class="title">
					<h1>Flower City</h1>
					<h3>Stories from Highland Park</h3>
					<button class="button button-balanced" onclick="location.href='#/app/map'">
						Start Now
					</button>
					<button class="button button-balanced" ng-click="changeOriantationPortrait()">
						Change
					</button>
				</div>
			</figcaption>
		</section>
		
		<!-- About Section -->
		<section class="padding home">
			<h1 id="About">About</h1>
			<p>
				We’re driving south on Mount Hope Avenue away from the center 
				of Rochester, N.Y. Within only a few minutes we pass the 
				intersection of the Ford Street Bridge and our gray concrete 
				surroundings transform into a forest of green. Trees are in 
				abundance here and although this area looks more akin to the 
				suburbs, we are still within the city limits. 
			</p>
			<p>
				Names like Azalea Road, Lilac Drive and Cypress Street do not 
				evoke images of a bustling industrial boomtown in the 
				mid-1800s. However, these street names are an accurate 
				reminisces of the time period. While mills along the Genesee 
				River were producing around 550,000 barrels of grain a new 
				horticultural industry was taking bloom on the cities 
				outskirts. Men like James Vick, Joseph Harris, Charles 
				Crosman and the Brown Brothers built successful seed and 
				nursery businesses in the area.
			</p>
			<p>
				While all of these nurserymen would help to transform 
				Rochester from the “Flour City” to the “Flower City,” it 
				would be two immigrant nurserymen -- one from Germany, the 
				other from Northern Ireland -- that would dominate the 
				worldwide horticulture industry of the time and would spark 
				the development of Rochester’s park system with a 20-acre 
				donation of land. 
			</p>
			<button class="button button-full button-balanced" onclick="location.href='#/app/map'">
				Enter the story
			</button>
		</section>
    </ion-content>
</ion-view>
