<ion-side-menus enable-menu-with-back-views="true">
	<ion-side-menu-content>
		
		<!-- Header Bar -->
		<ion-nav-bar class="bar-positive">

			<ion-nav-buttons side="left">
				<button class="button button-outline button-light" onclick="location.href='#/app/map'">
					Map
				</button>
			</ion-nav-buttons>
			
			<ion-nav-buttons side="right">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="right">
				</button>
			</ion-nav-buttons>
			
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<!-- Menu -->
	<ion-side-menu side="right">
		
		<!-- Menu Header -->
		<ion-header-bar class="bar-positive sideMenu">
			<h1 class="title">Menu</h1>
		</ion-header-bar>
		
		<!-- Menu Items -->
		<ion-content>
			<ion-list>
				<ion-item menu-close class="menu-item" href="#/home">
					About
				</ion-item>
				<ion-item menu-close class="menu-item" href="#/app/map">
					Map
				</ion-item>
			</ion-list>
			<ion-list >
				<ion-item class="menu-item" ng-repeat="place in places" menu-close ng-href="#/app/map/{{ place.id }}">
					Ch. {{ place.id }}: {{ place.title }}
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>